{% extends "base.html" %}

{% block content %}

<h2>Список профессий</h2>
{% set prof_list = ['Инженер-исследователь', 'Пилот', 'Экзобиолог', 'Врач', 'Инженер по терраформированию', 'Климатолог', 'Специалист по радиационной защите', 'Астрогеолог', 'Гляциолог', 'Инженер жизнеобеспечения', 'Метеоролог', 'Оператор марсахода', 'Киберинженер', 'Штурман', 'Пилот дронов'] %}
{% if list == "ol" %}
<ol>
    {% for prof in prof_list %}
    <li>{{ prof }}</li>
    {% endfor %}
</ol>
{% elif list == "ul" %}
<ul>
    {% for prof in prof_list %}
    <li>{{ prof }}</li>
    {% endfor %}
</ul>
{% else %}
<p>Неверный параметр для list</p>
{% endif %}


{% endblock %}