{% extends "base.html" %}

{% block content %}

<h2>Оформление каюты</h2>
{% if person == "male" and age < 21 %}
{% set color = '#b3ccff' %}
{% set image = 'marsianin_yuang.jpg' %}
{% elif person == "male" and age >=21 %}
{% set color = '#3377ff' %}
{% set image = 'marsianin_old.jpg' %}

{% elif person == "female" and age < 21 %}
{%set color = '#ffccff'%}
{%set image = 'marsianin_yuang.jpg'%}
{% elif person == "female" and age >=21 %}
{%set color = '#ff66ff'%}
{%set image = 'marsianin_old.jpg'%}

{% endif %}

<table class="table table-hover">
    <tr class="text-center">
        <th>Цвет стен</th>
        <th>Эмблема</th>
    </tr>
    <tr>
        <td bgcolor="{{ color }}" width=400px height=500px></td>
        <td><img src="../../static/img/{{ image }}" height=500px></td>
    </tr>
</table>


{% endblock %}