<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Миссия Колонизация Марса</h1>
<h2>Список профессий</h2>
{% set prof_list = ['Инженер-исследователь', 'Пилот', 'Экзобиолог', 'Врач', 'Инженер по терраформированию',
'Климатолог', 'Специалист по радиационной защите', 'Астрогеолог', 'Гляциолог', 'Инженер жизнеобеспечения', 'Метеоролог',
'Оператор марсахода', 'Киберинженер', 'Штурман', 'Пилот дронов'] %}
<ol>
    {% for prof in prof_list %}
    <li>{{ prof }}</li>
    {% endfor %}
</ol>
</body>
</html>