<!doctype html>
                <html lang="en">
                  <head>
                    <meta charset="utf-8">
                    <title>Миссия Колонизация Марса</title>
                  </head>
                  <body>
			<h1>Миссия Колонизации Марса</h1>
			<p>"Научный симулятор"</p>
			{% if "инженер" in prof.lower() or "строитель" in prof.lower() %}
				<h2>"Инженерные тренажеры"</h2>
				<img src="{{url_for('static', filename='img/MARS.png')}}">
			{% else %}
				<h2>"Научный симулятор"</h2>
				<img src="{{url_for('static', filename='img/MEDIC.png')}}">
			{% endif %}
                  </body>
                </html>